.img {
	border-width: 0;
	box-sizing: border-box;
	padding: 0;
	margin: auto;
	cursor: zoom-in;
}

.alt {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	text-align: center;
	opacity: 0.8;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.wrap {
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: auto;
	margin: 0 0 0.25rem;
	font-size: 0;
}

.thumb {
	filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='$'%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 9 0'/%3E%3CfeComposite in2='SourceGraphic' operator='in'/%3E%3C/filter%3E%3C/svg%3E#$");
}

.zoomed {
	display: block;
	position: fixed;
	z-index: 999;
	cursor: zoom-out;
	max-width: none;
	max-height: none;
	transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	object-fit: contain;
	transform-origin: top left;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 40;
	cursor: zoom-out;
	transition: opacity 0.3s ease;
}
