[data-prose] :where(p):not(:where([not-prose], [not-prose] *)) {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}
[data-prose] :where([class~="lead"]):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-lead);
	font-size: 1.25em;
	line-height: 1.6;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
[data-prose] :where(strong):not(:where([not-prose], [not-prose] *)) {
	color: inherit;
	font-weight: 600;
}
[data-prose] :where(ol):not(:where([not-prose], [not-prose] *)) {
	list-style-type: decimal;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-inline-start: 1.625em;
}
[data-prose] :where(ol[type="A"]):not(:where([not-prose], [not-prose] *)) {
	list-style-type: upper-alpha;
}
[data-prose] :where(ol[type="a"]):not(:where([not-prose], [not-prose] *)) {
	list-style-type: lower-alpha;
}
[data-prose] :where(ol[type="I"]):not(:where([not-prose], [not-prose] *)) {
	list-style-type: upper-roman;
}
[data-prose] :where(ol[type="i"]):not(:where([not-prose], [not-prose] *)) {
	list-style-type: lower-roman;
}
[data-prose] :where(ul):not(:where([not-prose], [not-prose] *)) {
	list-style-type: disc;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-inline-start: 1.625em;
}
[data-prose] :where(ol > li):not(:where([not-prose], [not-prose] *))::marker {
	font-weight: 400;
	color: var(--prose-cnt);
}
[data-prose] :where(ul > li):not(:where([not-prose], [not-prose] *))::marker {
	color: var(--prose-bu);
}
[data-prose] :where(dt):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-h);
	font-weight: 600;
	margin-top: 1.25em;
}
[data-prose] :where(hr):not(:where([not-prose], [not-prose] *)) {
	border-color: var(--prose-hr);
	border-top-width: 1px;
	margin-top: 3em;
	margin-bottom: 3em;
}
[data-prose] :where(blockquote):not(:where([not-prose], [not-prose] *)) {
	font-weight: 500;
	font-style: italic;
	color: var(--prose-q);
	border-inline-start-width: 0.25rem /* 4px */;
	border-inline-start-color: var(--prose-q-b);
	quotes: "\201C""\201D""\2018""\2019";
	margin-top: 1.6em;
	margin-bottom: 1.6em;
	padding-inline-start: 1em;
}
[data-prose]
	:where(blockquote p:first-of-type):not(
		:where([not-prose], [not-prose] *)
	)::before {
	content: open-quote;
}
[data-prose]
	:where(blockquote p:last-of-type):not(
		:where([not-prose], [not-prose] *)
	)::after {
	content: close-quote;
}
[data-prose] :where(h1):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-h);
	font-weight: 800;
	font-size: 2.25em;
	margin-top: 0;
	margin-bottom: 0.8888889em;
	line-height: 1.1111111;
}
[data-prose] :where(h1 strong):not(:where([not-prose], [not-prose] *)) {
	font-weight: 900;
}
[data-prose] :where(h2):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-h);
	font-weight: 700;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
	line-height: 1.3333333;
}
[data-prose] :where(h2 strong):not(:where([not-prose], [not-prose] *)) {
	font-weight: 800;
}
[data-prose] :where(h3):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-h);
	font-weight: 600;
	font-size: 1.25em;
	margin-top: 1.6em;
	margin-bottom: 0.6em;
	line-height: 1.6;
}
[data-prose] :where(h3 strong):not(:where([not-prose], [not-prose] *)) {
	font-weight: 700;
}
[data-prose] :where(h4):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-h);
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	line-height: 1.5;
}
[data-prose] :where(h4 strong):not(:where([not-prose], [not-prose] *)) {
	font-weight: 700;
}
[data-prose] :where(kbd):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-c);
	background-color: var(--prose-c-bg);
	font-weight: 600;
	font-size: 0.875em;
	padding: 0.2em 0.4em;
	border-radius: 0.3125rem /* 5px */;
}
[data-prose] :where(code):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-c);
	background-color: var(--prose-c-bg);
	font-weight: 600;
	font-size: 0.875em;
	padding: 0.2em 0.4em;
	border-radius: 0.3125rem /* 5px */;
}
[data-prose] :where(h2 code):not(:where([not-prose], [not-prose] *)) {
	font-size: 0.875em;
}
[data-prose] :where(h3 code):not(:where([not-prose], [not-prose] *)) {
	font-size: 0.9em;
}
[data-prose] :where(pre):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-pc);
	background-color: var(--prose-p-bg);
	font-weight: 400;
	font-size: 0.875em;
	line-height: 1.75;
	margin-top: 1.75em;
	margin-bottom: 1.75em;
	border-radius: 0.375rem /* 6px */;
	padding-top: 0.9em;
	padding-inline-end: 1.25em;
	padding-bottom: 0.9em;
	padding-inline-start: 1.25em;
}
[data-prose] :where(pre code):not(:where([not-prose], [not-prose] *)) {
	word-wrap: break-word;
	white-space: pre-wrap;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
}
[data-prose] :where(table):not(:where([not-prose], [not-prose] *)) {
	width: 100%;
	table-layout: auto;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 0.875em;
	line-height: 1.75;
}
[data-prose] :where(thead):not(:where([not-prose], [not-prose] *)) {
	border-bottom-width: 1px;
	border-bottom-color: var(--prose-th-b);
}
[data-prose] :where(thead th):not(:where([not-prose], [not-prose] *)) {
	color: var(--prose-h);
	font-weight: 600;
	vertical-align: bottom;
	padding-inline-end: 0.6em;
	padding-bottom: 0.6em;
	padding-inline-start: 0.6em;
}
[data-prose] :where(tbd tr):not(:where([not-prose], [not-prose] *)) {
	border-bottom-width: 1px;
	border-bottom-color: var(--prose-td-b);
}
[data-prose] :where(tbd tr:last-child):not(:where([not-prose], [not-prose] *)) {
	border-bottom-width: 0;
}
[data-prose] :where(tbd td):not(:where([not-prose], [not-prose] *)) {
	vertical-align: baseline;
}
[data-prose] :where(tfoot):not(:where([not-prose], [not-prose] *)) {
	border-top-width: 1px;
	border-top-color: var(--prose-th-b);
}
[data-prose] :where(tfoot td):not(:where([not-prose], [not-prose] *)) {
	vertical-align: top;
}
[data-prose] :where(th, td):not(:where([not-prose], [not-prose] *)) {
	text-align: start;
}
[data-prose] :where(li):not(:where([not-prose], [not-prose] *)) {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
[data-prose] :where(ol > li):not(:where([not-prose], [not-prose] *)) {
	padding-inline-start: 0.375em;
}
[data-prose] :where(ul > li):not(:where([not-prose], [not-prose] *)) {
	padding-inline-start: 0.375em;
}
[data-prose]
	:where([data-prose] > ul > li p):not(:where([not-prose], [not-prose] *)) {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
[data-prose]
	:where(
		[data-prose] > ul > li > p:first-child,
		[data-prose] > ol > li > p:first-child
	):not(:where([not-prose], [not-prose] *)) {
	margin-top: 1.25em;
}
[data-prose]
	:where(
		[data-prose] > ul > li > p:last-child,
		[data-prose] > ol > li > p:last-child
	):not(:where([not-prose], [not-prose] *)) {
	margin-bottom: 1.25em;
}
[data-prose]
	:where(ul ul, ul ol, ol ul, ol ol):not(:where([not-prose], [not-prose] *)) {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}
[data-prose] :where(dl):not(:where([not-prose], [not-prose] *)) {
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}
[data-prose] :where(dd):not(:where([not-prose], [not-prose] *)) {
	margin-top: 0.5em;
	padding-inline-start: 1.625em;
}
[data-prose]
	:where(hr + *, h2 + *, h3 + *, h4 + *):not(
		:where([not-prose], [not-prose] *)
	) {
	margin-top: 0;
}
[data-prose]
	:where(thead th:first-child):not(:where([not-prose], [not-prose] *)) {
	padding-inline-start: 0;
}
[data-prose]
	:where(thead th:last-child):not(:where([not-prose], [not-prose] *)) {
	padding-inline-end: 0;
}
[data-prose] :where(tbd td, tfoot td):not(:where([not-prose], [not-prose] *)) {
	padding: 0.6em;
}
[data-prose]
	:where(tbd td:first-child, tfoot td:first-child):not(
		:where([not-prose], [not-prose] *)
	) {
	padding-inline-start: 0;
}
[data-prose]
	:where(tbd td:last-child, tfoot td:last-child):not(
		:where([not-prose], [not-prose] *)
	) {
	padding-inline-end: 0;
}
[data-prose]
	:where([data-prose] > :first-child):not(:where([not-prose], [not-prose] *)) {
	margin-top: 0;
}
[data-prose]
	:where([data-prose] > :last-child):not(:where([not-prose], [not-prose] *)) {
	margin-bottom: 0;
}
