@layer prose {
	[data-prose] :where(p):not(:where([not-prose], [not-prose] *)) {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}
	[data-prose] :where(strong):not(:where([not-prose], [not-prose] *)) {
		color: inherit;
		font-weight: 600;
	}
	[data-prose] :where(dt):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		margin-top: 1.25em;
	}
	[data-prose] :where(blockquote):not(:where([not-prose], [not-prose] *)) {
		font-weight: 500;
		font-style: italic;
		color: var(--prose-q);
		border-inline-start-width: 0.25rem /* 4px */;
		border-inline-start-color: var(--prose-q-b);
		quotes: "\201C""\201D""\2018""\2019";
		margin-top: 1.6em;
		margin-bottom: 1.6em;
		padding-inline-start: 1em;
	}
	[data-prose]
		:where(blockquote p:first-of-type):not(
			:where([not-prose], [not-prose] *)
		)::before {
		content: open-quote;
	}
	[data-prose]
		:where(blockquote p:last-of-type):not(
			:where([not-prose], [not-prose] *)
		)::after {
		content: close-quote;
	}
	[data-prose] :where(h1):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 800;
		font-size: 2.25em;
		margin-top: 0;
		margin-bottom: 0.8888889em;
		line-height: 1.1111111;
	}
	[data-prose] :where(h1 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 900;
	}
	[data-prose] :where(h2):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 700;
		font-size: 1.5em;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.3333333;
	}
	[data-prose] :where(h2 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 800;
	}
	[data-prose] :where(h3):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		font-size: 1.25em;
		margin-top: 1.6em;
		margin-bottom: 0.6em;
		line-height: 1.6;
	}
	[data-prose] :where(h3 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 700;
	}
	[data-prose] :where(h4):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		line-height: 1.5;
	}
	[data-prose] :where(h4 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 700;
	}
	[data-prose] :where(kbd):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-c);
		background-color: var(--prose-c-bg);
		font-weight: 600;
		font-size: 0.875em;
		padding: 0.2em 0.4em;
		border-radius: 0.3125rem /* 5px */;
	}
	[data-prose] :where(code):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-c);
		background-color: var(--prose-c-bg);
		font-weight: 600;
		font-size: 0.875em;
		padding: 0.2em 0.4em;
		border-radius: 0.3125rem /* 5px */;
	}
	[data-prose] :where(h2 code):not(:where([not-prose], [not-prose] *)) {
		font-size: 0.875em;
	}
	[data-prose] :where(h3 code):not(:where([not-prose], [not-prose] *)) {
		font-size: 0.9em;
	}
	[data-prose] :where(pre):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-pc);
		background-color: var(--prose-p-bg);
		font-weight: 400;
		font-size: 0.875em;
		line-height: 1.75;
		margin-top: 1.75em;
		margin-bottom: 1.75em;
		border-radius: 0.375rem /* 6px */;
		padding-top: 0.9em;
		padding-inline-end: 1.25em;
		padding-bottom: 0.9em;
		padding-inline-start: 1.25em;
	}
	[data-prose] :where(pre code):not(:where([not-prose], [not-prose] *)) {
		word-wrap: break-word;
		white-space: pre-wrap;
		border-width: 0;
		border-radius: 0;
		padding: 0;
		font-weight: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	[data-prose]
		:where(hr + *, h2 + *, h3 + *, h4 + *):not(
			:where([not-prose], [not-prose] *)
		) {
		margin-top: 0;
	}
}
