@layer prose {
	[data-prose] :where(p):not(:where([not-prose], [not-prose] *)) {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}
	[data-prose] :where(strong):not(:where([not-prose], [not-prose] *)) {
		color: inherit;
		font-weight: 600;
	}
	[data-prose] :where(dt):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		margin-top: 1.25em;
	}
	[data-prose] :where(blockquote):not(:where([not-prose], [not-prose] *)) {
		font-weight: 500;
		font-style: italic;
		color: var(--prose-q);
		border-inline-start-width: 0.25rem /* 4px */;
		border-inline-start-color: var(--prose-q-b);
		quotes: "\201C""\201D""\2018""\2019";
		margin-top: 1.6em;
		margin-bottom: 1.6em;
		padding-inline-start: 1em;
	}
	[data-prose]
		:where(blockquote p:first-of-type):not(
			:where([not-prose], [not-prose] *)
		)::before {
		content: open-quote;
	}
	[data-prose]
		:where(blockquote p:last-of-type):not(
			:where([not-prose], [not-prose] *)
		)::after {
		content: close-quote;
	}
	[data-prose] :where(h1):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 800;
		font-size: 2.25em;
		margin-top: 0;
		margin-bottom: 0.8888889em;
		line-height: 1.1111111;
	}
	[data-prose] :where(h1 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 900;
	}
	[data-prose] :where(h2):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 700;
		font-size: 1.5em;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.3333333;
	}
	[data-prose] :where(h2 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 800;
	}
	[data-prose] :where(h3):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		font-size: 1.25em;
		margin-top: 1.6em;
		margin-bottom: 0.6em;
		line-height: 1.6;
	}
	[data-prose] :where(h3 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 700;
	}
	[data-prose] :where(h4):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		line-height: 1.5;
	}
	[data-prose] :where(h4 strong):not(:where([not-prose], [not-prose] *)) {
		font-weight: 700;
	}

	[data-prose]
		:where(hr + *, h2 + *, h3 + *, h4 + *):not(
			:where([not-prose], [not-prose] *)
		) {
		margin-top: 0;
	}
}
