@layer prose {
	[data-prose] :where(h1):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 800;
		font-size: 2.25em;
		margin-top: 0;
		margin-bottom: 0.8888889em;
		line-height: 1.1111111;
	}
	[data-prose] :where(h2):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 700;
		font-size: 1.5em;
		margin-top: 2em;
		margin-bottom: 1em;
		line-height: 1.3333333;
	}
	[data-prose] :where(h3):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		font-size: 1.25em;
		margin-top: 1.6em;
		margin-bottom: 0.6em;
		line-height: 1.6;
	}
	[data-prose] :where(h4):not(:where([not-prose], [not-prose] *)) {
		color: var(--prose-h);
		font-weight: 600;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		line-height: 1.5;
	}

	[data-prose]
		:where(hr + *, h2 + *, h3 + *, h4 + *):not(
			:where([not-prose], [not-prose] *)
		) {
		margin-top: 0;
	}
}
