@stylex;

html {
	font-family: ChillRoundF;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg);
	color: var(--text);
}

:root {
	--bg: rgb(255 255 255 / 1);
	--text: rgb(0 0 0 / 1);
	--border: #e5e7eb;
	--copyright-bg: rgb(209 213 219 / 0.3);
	color-scheme: light;
	--prose-bd: #374151;
	--prose-h: #111827;
	--prose-lead: #4b5563;
	--prose-cnt: #6b7280;
	--prose-bu: #d1d5db;
	--prose-hr: #e5e7eb;
	--prose-q: #111827;
	--prose-q-b: #e5e7eb;
	--prose-cap: #6b7280;
	--prose-c: #111827;
	--prose-c-bg: #ececec;
	--prose-pc: #e5e7eb;
	--prose-p-bg: #282c34;
	--prose-th-b: #d1d5db;
	--prose-td-b: #e5e7eb;
}

.dark {
	--bg: rgb(3 7 18 / 1);
	--text: rgb(209 213 219 / 1);
	--border: #2d2d2d;
	--copyright-bg: rgb(75 85 99 / 0.3);
	color-scheme: dark;
	--prose-bd: rgb(209 213 219 / 0.8);
	--prose-h: rgb(209 213 219 / 0.8);
	--prose-lead: rgb(209 213 219 / 0.8);
	--prose-cnt: rgb(209 213 219 / 0.8);
	--prose-bu: rgb(209 213 219 / 0.8);
	--prose-hr: rgb(209 213 219 / 0.8);
	--prose-q: #f3f4f6;
	--prose-q-b: rgb(209 213 219 / 0.8);
	--prose-cap: #9ca3af;
	--prose-c: rgb(209 213 219 / 0.8);
	--prose-c-bg: rgb(40 44 52 / 1);
	--prose-pc: rgb(209 213 219 / 0.8);
	--prose-th-b: rgb(209 213 219 / 0.8);
	--prose-td-b: rgb(209 213 219 / 0.8);
}

::view-transition-old(root),
::view-transition-new(root) {
	animation: none;
	mix-blend-mode: normal;
}

#main {
	display: flex;
	justify-content: center;
	margin-top: -8rem;
	z-index: 10;
	position: relative;
	width: 100%;
	gap: 1rem;
}

#page-container {
	border-radius: 1.5rem;
	width: 100%;
	max-width: 56rem;
	margin: 0 auto;
	padding: 1.5rem;
	min-height: 12rem;
	background-color: rgb(from var(--bg) r g b / 0.8);
	backdrop-filter: blur(16px);
}

@media (min-width: 768px) {
	#page-container {
		padding: 2rem;
	}
}
