[data-comment] pre,
[data-comment] pre[class*="language-"] {
	overflow: auto;
	line-height: 1.4;
	border-radius: 0.375rem;
	padding: 1rem 1.25rem;
	margin: 0.75rem 0;
}
[data-comment] pre code,
[data-comment] pre[class*="language-"] code {
	padding: 0;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0) !important;
	color: #bbb;
	direction: ltr;
}
[data-comment] code[class*="language-"],
[data-comment] pre[class*="language-"] {
	text-align: left;
	white-space: pre;
	hyphens: none;
	background-color: none;
	color: #ccc;
	font-size: 1em;
	font-family: "Cascadia Mono", monospace;
	word-spacing: normal;
	word-wrap: normal;
	word-break: normal;
	tab-size: 4;
}
[data-comment] pre[class*="language-"] {
	overflow: auto;
}
[data-comment] :not(pre) > code[class*="language-"],
[data-comment] pre[class*="language-"] {
	background: #2d2d2d;
}
[data-comment] :not(pre) > code[class*="language-"] {
	padding: 0.1rem;
	border-radius: 0.3rem;
	white-space: normal;
}
[data-comment] .token[data-comment],
[data-comment] .token.block-comment,
[data-comment] .token.prolog,
[data-comment] .token.doctype,
[data-comment] .token.cdata {
	color: #999;
}
[data-comment] .token.punctuation {
	color: #ccc;
}
[data-comment] .token.tag,
[data-comment] .token.attr-name,
[data-comment] .token.namespace,
[data-comment] .token.deleted {
	color: #e2777a;
}
[data-comment] .token.function-name {
	color: #6196cc;
}
[data-comment] .token.boolean,
[data-comment] .token.number,
[data-comment] .token.function {
	color: #f08d49;
}
[data-comment] .token.property,
[data-comment] .token.class-name,
[data-comment] .token.constant,
[data-comment] .token.symbol {
	color: #f8c555;
}
[data-comment] .token.selector,
[data-comment] .token.important,
[data-comment] .token.atrule,
[data-comment] .token.keyword,
[data-comment] .token.builtin {
	color: #cc99cd;
}
[data-comment] .token.string,
[data-comment] .token.char,
[data-comment] .token.attr-value,
[data-comment] .token.regex,
[data-comment] .token.variable {
	color: #7ec699;
}
[data-comment] .token.operator,
[data-comment] .token.entity,
[data-comment] .token.url {
	color: #67cdcc;
}
[data-comment] .token.important,
[data-comment] .token.bold {
	font-weight: bold;
}
[data-comment] .token.inserted {
	color: green;
}
